.container__left-bar{
	background: #4AA8FF;
	height: 91.2vh;
	margin-top: 82px;
	position: fixed;
	display: flex;
	flex-direction:column;
	border-right:2px solid #FFB800;
}
.bar-block{
	margin-top: 10px;
	text-align: center;
	color: #ffffff;	
	width: 90px;
}
.bar-block:hover{
	background: #FFB800;
}
.bar-block:active{
	background: #ffffff;
}
