@import 'header.css';
@import 'left-bar.css';
@import 'right-container.css';
@import 'theme-class.css';
@import 'ui.totop.css';
@import 'scroll-line.css';
@import 'window-leson.css';

*{
	margin: 0;
	padding: 0;
	font-family:'Courier New', Courier, monospace;
	font-style: normal;
	font-weight: normal;
}
body{
	background: #EFEFEF;
	height: 100%;
	position: relative;
}
.container{
	display: flex;
}