.container__right-container {
	flex-grow: 1;
	margin-left: 150px;
	margin-top: 110px;

	position: absolute;
	animation-name: theme;
	animation-duration: 1s;
	z-index: -1;
}


@keyframes theme {
	0% {
		left: -1400px;
		top: -100px;
	}

	100% {
		left: 0;
		top: 0px;
	}


}

.right-container__top-themes {
	display: flex;
	align-items: center;
}

.right-container__top-themes h1 {
	margin-right: 30px;
}

.top-themes__items {
	display: flex;
	background: #B8B8B8;
	border-radius: 30px;
	padding: 8px 30px 8px 30px;
	color: #ffffff;
	user-select: none;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.item {
	margin-left: 10px;
	padding: 5px 25px 5px 25px;
}

.item:first-child {
	margin-left: 0px;
	background: #000000;
	border-radius: 30px;
}

.item:hover {
	background: #000000;
	border-radius: 30px;
}

.item:active {
	background: #ffffff;
	border-radius: 30px;
	color: #000000;
}