/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
	width: 8px; /* ширина для вертикального скролла */
	height: 8px; /* высота для горизонтального скролла */
	background: rgb(2,0,36);
	
}
/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
	background: rgb(2,0,36);
	background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,66,121,1) 26%, rgba(0,212,255,1) 100%);
	border-radius:30px ;
	
}

/* Стрелки */
::-webkit-scrollbar-button:vertical:start:decrement {
	display: none;
}

::-webkit-scrollbar-button:vertical:end:increment {
	display: none;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
	display: none;
}

::-webkit-scrollbar-button:horizontal:end:increment {
	display: none;
}